body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background-image: url(фон.png);
}

.panel {
	background-color: blue;
	border: 0px solid #ccc;
    width: 100%;
	padding: 1px;
	margin: 1px;
	display: inline-block;
	box-sizing: border-box;
}

.card {
    width: 65%;
	padding: 8px;
	background: #8000ff;
	border: 2px solid #ddd;
	border-radius: 0px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Синий фон */
    color: white; /* Белый текст */
    text-decoration: none; /* Убираем подчеркивание */
    border-radius: 5px; /* Скругляем углы */
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #0056b3; /* Темнее при наведении */
}
