body {
    background-color: #20004c;
}

h1 {
    margin: 8px 50 8px 50;
}

p {
    margin: 4px 0 4px 0;
}


.panel {
	background-color: blue;
	border: 2px solid #ccc;
    width: 100%;
	padding: 4px;
	margin: 4px;
	display: inline-block;
	box-sizing: border-box;
}

.card {
    width: 100%;
	padding: 8px;
	background: #ffffff;
	border: 2px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Синий фон */
    color: white; /* Белый текст */
    text-decoration: none; /* Убираем подчеркивание */
    border-radius: 5px; /* Скругляем углы */
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #0056b3; /* Темнее при наведении */
}
